<div class="container-flud">
    <div class="bg">
        <!--Image-->
    </div>
    <div class="container" style="position:relative;bottom:5rem">
        <div class="row">
          <div class="col-12">
            <div class="card mx-auto" style="max-width:450px">
              <div class="card-body">
                <div class="text-center mb-3">
                  <h1 class="card-title h3">Register Your Account</h1>
                  <p class="card-text">Already have an account? <a href="#">Log In</a>.</p>
                </div>
                <form [formGroup]="regForm" (ngSubmit)="regUser()" >
                  <div class="response"></div>
                  <div class="form-group">
                    <select formControlName="acType" class="form-control form-control-lg" name="" id=""  >
                      <option [ngValue]="null" disabled>Select Account Type</option>
                      <option value="individual">Individual</option>
                      <option value="business">Business</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input  formControlName="firstName" class="form-control form-control-lg" placeholder="First Name" type="text" [ngClass]="{ 'is-invalid': regForm.get('firstName').errors &&
                     (regForm.get('firstName').touched || regForm.get('firstName').dirty)}"  />
                     <div class="invalid-feedback">
                      First name is required
                    </div>
                  </div>
                  
                  <!-- <div *ngIf="regForm.get('firstName').errors" class="invalid-feedback">
                    <div *ngIf="regForm.firstName.errors.required">First Name is required is required</div>
                    </div> -->
                  <div class="form-group">
                    <input formControlName="lastName" class="form-control form-control-lg" placeholder="Last Name" type="text" name="" id="" />
                  </div>
                  <div class="form-group">
                    <input formControlName="email" class="form-control form-control-lg" placeholder="Email" type="email" required
                      [ngClass]="{ 'is-invalid': regForm.get('email').errors &&
                                       regForm.get('email').touched }" />
                      
                    <div class="invalid-feedback">
                      Valid Email is required
                    </div>
                  </div>
                  <div class="form-group">
                    <input formControlName="password" class="form-control form-control-lg" placeholder="Password" type="password" name="" id="" />
                  </div>
                  <div class="form-group">
                    <input class="form-control form-control-lg" placeholder="Confirm Password" type="password" name="" id="" />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input id="terms-and-conditions" class="subcategory form-check-input" type="checkbox" name="terms_and_conditions">
                      <span class="form-check-indicator"></span>
                      <span class="">I agree to the <a target="_blank" href="">terms and conditions</a>.</span>
                    </label>
                  </div>
                  <div class="text-center">
                    <input type="submit"  value="Sign Up" class="submit btn btn-lg btn-block btn-primary"
                      data-disable-with="Sign Up" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
       
</div>