<div class="container-fluid bg">

</div>
<div class="container-fluid">
    <div class="container">
        <div class="row mb-5"> 
            <div class="col"></div>
            <div class="col-12 main-content col-lg-10 ">
              <div class="card mx-auto">
                <div class="card-block">
                  <h1><a id="TERMS__CONDITIONS_OF_ACCEPTANCE_0"></a>TERMS &amp; CONDITIONS OF ACCEPTANCE</h1>
                  <p>Advertisers confirm that the information and details supplied by them for publication are TRUE and ACCURATE and contain nothing which may mislead an interested purchaser of their services.</p>
                  <h2><a id="CONSENT_2"></a>CONSENT</h2>
                  <p>By submitting your advertising details to us for publication you are indicating:<br>
                  • That you are the legal owner of the business or services to be advertised or you have legal power of attorney on behalf of the business owner/advertiser<br>
                  • That you agree to <a href="http://Bride-Advisor.com">Bride-Advisor.com</a> publishing these details for you.<br>
                  • That the details supplied by you are TRUE and ACCURATE and not misleading in any material way.<br>
                  • That on receipt by us of your payment, your advertising (the service) is to commence when your advert has been created and is live on our website and that you fully adhere to our terms and conditions.</p>
                  <h2><a id="COPYRIGHT_8"></a>COPYRIGHT</h2>
                  <p>In respect of any advertising details or photographs submitted by you for publication, you confirm that you own full title to such details and/or photographs and you agree to grant a copyright license to <a href="http://Bride-Advisor.com">Bride-Advisor.com</a><br>
                  Note that you cannot use photographs from exterior sources to your company without the express permission of the photographic source - it is the customer’s responsibility to ensure they have copyright over any materials supplied to us for publication on their behalf and you agree to indemnify <a href="http://Bride-Advisor.com">Bride-Advisor.com</a> in respect of any claims against us or expenses incurred by us in respect of breach of copyright issues.<br>
                  Photographs, images, advertising company descriptions and all other content published on this website are copyright of <a href="http://Bride-Advisor.com">Bride-Advisor.com</a> and may NOT be copied from this site and reproduced in any other advertisement or marketing, without our written consent.<br>
                  For the sake of clarity - this does not prevent advertisers from using their own materials elsewhere PROVIDING that such details are not back-sourced from this website.</p>
                  <h2><a id="CANCELLATION_13"></a>CANCELLATION</h2>
                  <p>Customers are entitled to cancel their advertisement plan at any time providing we are informed by email. We do not offer a refund of the advertising fee paid and your listing will remain showing only the company name and client reviews.</p>
                  <h2><a id="TRANSFER_OF_ADVERTISING_15"></a>TRANSFER OF ADVERTISING</h2>
                  <p>Individual business advertisements are NOT transferable and may not be used for advertising of more than one company or any company other than the company listed for advertising initially without our explicit permission.</p>
                  <h2><a id="MULTIPLE_ADVERTISING_17"></a>MULTIPLE ADVERTISING</h2>
                  <p>In the case of commercial advertisers, where more than one service is available, we are able to offer an attractive discounted advertising package based on the total number of advertisements you wish to run in one advertising period.<br>
                  Promotion of your own commercial website is permitted, along with company contact details and address.</p>
                  <h2><a id="YOUR_PRIVACY_AND_SECURITY_20"></a>YOUR PRIVACY AND SECURITY</h2>
                  <p>Your personal details are held on a secure database and only those details you wish to be published are made available to our site visitors. We do not pass confidential customer information to other organisations.</p>
                  <h2><a id="ACCURATE_COMPANY DESCRIPTIONS_22"></a>ACCURATE COMPANY DESCRIPTIONS</h2>
                  <p>All advertising details supplied by owners to us must be FAIR, HONEST and ACCURATE.<br>
                  We reserve the right to edit any descriptions which we know or believe to be false or misleading or where there is a potential for misunderstanding.<br>
                  Before posting your details on our website we check all listings and may make amendments to improve presentation, correct spelling and other obvious errors. <br>
                  The factual accuracy of the information supplied for publication on this site, is the responsibility of the advertiser and you agree to indemnify <a href="http://Bride-Advisor.com">Bride-Advisor.com</a> against any claims or expenses arising from misleading or inaccurate claims made by you about your company within the advertising published.</p>
                  <h2><a id="BUSINESS EMAIL_AND_CONTACT_INFORMATION_27"></a>BUSINESS EMAIL AND CONTACT INFORMATION</h2>
                  <p>It is your choice to disclose your company contact details to potential customers to advertise your business.</p>
                  <h2><a id="LIMIT_OF_LIABILITY_29"></a>LIMIT OF LIABILITY</h2>
                  <p>The maximum liability for any loss arising due to our negligence will be limited to a sum equal to the value of the advertising fee received.</p>
                  <h2><a id="PRICING_31"></a>PRICING</h2>
                  <p>The prices shown on this website are what you pay. Publication of customer listings on the site <a href="http://Bride-Advisor.com">Bride-Advisor.com</a> normally takes 3-4 working days. Note that this period is provided as a guide only and may vary and assumes the normal operation of automated processes and/or systems currently in place.<br>
                  From time to time, interruptions in service can occur for technical reasons, due to faults or for necessary maintenance.<br>
                  Customers are advised that whilst we undertake to ensure the swift forwarding of information for publication or update of listings on our site, we cannot accept any responsibility for interruptions or delay in publication on the site due to faults or maintenance issues affecting services beyond our control.</p>
                  <h2><a id="INTERRUPTION_IN_SERVICE_35"></a>INTERRUPTION IN SERVICE</h2>
                  <p><a href="http://Bride-Advisor.com">Bride-Advisor.com</a> makes every reasonable effort to ensure that our website facilities are available to internet visitors and customers at all times. However, we do not offer any guaranteed percentage time of availability and accept no financial liability for any interruption in service or temporary loss of some or all website facilities at any time. On occasion, necessary maintenance or upgrade work requires the site to be taken ‘off-line’ without notice, but we endeavour to keep downtime to a minimum and in most cases of scheduled maintenance, this normally involves no more than a few minutes. Our website is hosted in a secure protected environment with excellent security, fire and backup measures in place and a very high level of service is anticipated.</p>
                  <h2><a id="DISTANCE_SELLING_REGULATIONS_37"></a>DISTANCE SELLING REGULATIONS</h2>
                  <p>Clause 8(3) of The Consumer Protection (Distance Selling) Regulations 2000 states that the statutory cancellation (cooling-off) period of 7 days for services purchased over the internet, does not apply where performance of that service has already commenced with the customer’s agreement. Our payment facilities are designed to activate your public advertising automatically and therefore, by making a payment for advertising on this site you signify your agreement to the advertising service commencing IMMEDIATELY and that the standard cooling-off period does not apply as per clause 8(3) of the Regulations.</p>
                  <h2><a id="REFUNDS_39"></a>REFUNDS</h2>
                  <p>No refund of our advertising fees will be made, after publication of paid advertising.<br>
                  No refund of our advertising fees will be made for loss of service, temporary or permanent, in any circumstances.<br>
                  Other circumstances may be reviewed and a refund offered at our discretion with the deduction of an administration fee, however, under no circumstances will our liability exceed the value of the advertising fee received.<br>
                  This does not affect your statutory rights as a consumer.</p>
                  <h2><a id="COMPLAINTS_44"></a>COMPLAINTS</h2>
                  <p>If you experience any problem using our service, or we make an error in publication, let us know straight away and we will do everything in our power to put things straight. We are proud of the quality of our service, customer care and support, but sometimes things can go wrong, so please contact us if you have a complaint about any aspect of our service to you.<br>
                  Please quote your full name and business name in all communications. We aim to respond to all enquiries within one working day.</p>
                  <h2><a id="CONTACT_47"></a>CONTACT</h2>
                  <p><a href="http://Bride-Advisor.com">Bride-Advisor.com</a> is part of the WeddingBox Italy di Sephora group.<br>
                  To contact us please use one of the options below :<br>
                  By email – <a href="mailto:support@bride-advisor.com">support@bride-advisor.com</a><br>
                  Registered office: Via Venini, 67, Varenna, 23829 LC, Italy<br>
                  P.Iva (Tax Number)  IT 03406710123</p>
                  <h1><a id="Terms_and_Conditions_of_Reviewers_55"></a>Terms and Conditions of Reviewers</h1>
                  <h2><a id="TERMS__CONDITIONS_OF_ACCEPTANCE_56"></a>TERMS &amp; CONDITIONS OF ACCEPTANCE</h2>
                  <p>Reviewers confirm that the information and details supplied by them for publication are TRUE and ACCURATE and contain nothing which may mislead an interested client of the services of the company being reviewed.</p>
                  <h2><a id="CONSENT_58"></a>CONSENT</h2>
                  <p>By submitting your review to us for publication you are indicating:<br>
                  That you hired the company or individual to provide services pertaining to your wedding.<br>
                  That you agree to <a href="http://Bride-Advisor.com">Bride-Advisor.com</a> publishing these details for you.<br>
                  That the details supplied by you are TRUE and ACCURATE and not misleading in any material way<br>
                  That Bride-Advisor maintains the right to remove any review deemed to be inappropriate or misleading and that our decision is at our own discretion and is final.<br>
                  Bride-Advisor may correct any poor grammar and/or spelling pertaining to your review.<br>
                  You agree to be contacted by Bride-Advisor in the future. We promise never to share your details with any third party.</p>
                  <h2><a id="COPYRIGHT_66"></a>COPYRIGHT</h2>
                  <p>In respect of any details or photographs submitted by you for publication, you confirm that you own full title to such details and/or photographs and you agree to grant a copyright license to <a href="http://Bride-Advisor.com">Bride-Advisor.com</a></p>
                </div>
              </div>
            </div>
            <div class="col"></div>
          </div>
    </div>
   
  </div>
