<div class="bg absolute flex container-fluid">
  <div>
    <div class="container-fluid  test" style="height: 100%;">
      <div class="row text-center mb-3">
        <div class="col-12">
          <h1 class="head">Plan Your Perfect Wedding</h1>
          <p class="mx-auto mb-0" style="max-width:400px"><em>The</em> place to find wedding suppliers and vendors tried
            and tested by real brides</p>
          <span class="btnSearch">
            <button mat-raised-button color="primary" type="submit" (click)="searchListing()">Find
              {{selectedCategory}}</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid  container-find">


  <mat-tab-group animationDuration="2000ms" mat-align-tabs="center">
    <mat-tab label="Select Category">
      <mat-toolbar class="category">
        <a (click)="selectCategory(1,$event)" matTooltip="Food And Drink" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon >
            <img src="../../../assets/food.png" alt="Food & Drink" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Celebrants and Officiants" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(2,$event)">
            <img src="../../../assets/online-security.png" alt="Celebrants and Officiants" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Dresses, Suits and Accessories" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(3,$event)">
            <img src="../../../assets/dress.png" alt="Dresses Suits and Accessories" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Entertainment" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(4,$event)">
            <img src="../../../assets/etertainment.png" alt="Entertainment" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Flowers" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(5,$event)">
            <img src="../../../assets/flower.png" alt="Flowers" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Hair, Make-Up and Beauty" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(6,$event)">
            <img src="../../../assets/makeup.png" alt="Hair, Make-Up and Beauty" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Invitations and Stationery" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(7,$event)">
            <img src="../../../assets/invitation.png" alt="Invitations and Stationery" width="25px" height="25px">
          </mat-icon>
        </a>

        <a matTooltip="Jewellery" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(8,$event)">
            <img src="../../../assets/jewelery.png" alt="Jewellery" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Music" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(9,$event)">
            <img src="../../../assets/music.png" alt="Music" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Photography" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(10,$event)">
            <img src="../../../assets/photography.png" alt="Photography" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Cake Makers" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(11,$event)">
            <img src="../../../assets/cake.png" alt="Cake Makers " width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Transport" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(12,$event)">
            <img src="../../../assets/transport.png" alt="Transport" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Venues" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(13,$event)">
            <img src="../../../assets/venue.png" alt="Venues" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Wedding Planners" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(14,$event)">
            <img src="../../../assets/planner.png" alt="Wedding Planners" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Decorations and Hire" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(15,$event)">
            <img src="../../../assets/decoration.png" alt="Decorations and Hire" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Accommodation" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(16,$event)">
            <img src="../../../assets/accomodation.png" alt="Accommodation" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Videography" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(17,$event)">
            <img src="../../../assets/videography.png" alt="Videography" width="25px" height="25px">
          </mat-icon>
        </a>
        <a matTooltip="Gifts and Favors" matTooltipPosition="above" class="category-icon"
          aria-label="Bride Advisor catergory search button">
          <mat-icon (click)="selectCategory(18,$event)">
            <img src="../../../assets/gift.png" alt="Gifts and Favors" width="25px" height="25px">
          </mat-icon>
        </a>
      </mat-toolbar>
    </mat-tab>
    <mat-tab label="Select Country / Region" color="primary">

      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <h1 class="region"> Asia</h1>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list  rowHeight="80px" gutterSize="0px" [cols]="breakPoint"  (window:resize)="onResize($event)">

        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('IN')">india </mat-list-item>
            <mat-list-item (click)="findRegion('IL')">israel </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>

            <mat-list-item (click)="findRegion('SG')">Singapore </mat-list-item>
            <mat-list-item (click)="findRegion('SK')">South Korea</mat-list-item>
          </mat-list>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('TH')">Thailand </mat-list-item>
            <mat-list-item (click)="findRegion('')"> </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('VN')"> Vetnam </mat-list-item>
            <mat-list-item (click)="findRegion('')"> </mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>


          <h1 class="region"> United States</h1>

        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list  rowHeight="520px" gutterSize="0px" [cols]="breakPoint"  (window:resize)="onResize($event)">

        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('AL')">ALabama</mat-list-item>
            <mat-list-item (click)="findRegion('')"> indiana </mat-list-item>
            <mat-list-item (click)="findRegion('')">Alaska</mat-list-item>
            <mat-list-item (click)="findRegion('')">Arizona</mat-list-item>
            <mat-list-item (click)="findRegion('')">Arkansas</mat-list-item>
            <mat-list-item (click)="findRegion('')">California</mat-list-item>
            <mat-list-item (click)="findRegion('')">Colorado</mat-list-item>
            <mat-list-item (click)="findRegion('')">Connecticut</mat-list-item>
            <mat-list-item (click)="findRegion('')">Florida</mat-list-item>
            <mat-list-item (click)="findRegion('')">Georgia</mat-list-item>
            <mat-list-item (click)="findRegion('')">Hawaii</mat-list-item>
            <mat-list-item (click)="findRegion('')">ldaho</mat-list-item>
            <mat-list-item (click)="findRegion('')">Illinois</mat-list-item>

          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">indiana</mat-list-item>
            <mat-list-item (click)="findRegion('')">lowa</mat-list-item>
            <mat-list-item (click)="findRegion('')">Kansas</mat-list-item>
            <mat-list-item (click)="findRegion('')">Kentucky</mat-list-item>
            <mat-list-item (click)="findRegion('')">Louisiana</mat-list-item>
            <mat-list-item (click)="findRegion('')">Maine</mat-list-item>
            <mat-list-item (click)="findRegion('')">Maryland</mat-list-item>
            <mat-list-item (click)="findRegion('')">Massachusetts</mat-list-item>
            <mat-list-item (click)="findRegion('')">Michigan</mat-list-item>
            <mat-list-item (click)="findRegion('')">Minnesota</mat-list-item>
            <mat-list-item (click)="findRegion('')">Mississippi</mat-list-item>
            <mat-list-item (click)="findRegion('')">Missouri</mat-list-item>
            <mat-list-item></mat-list-item>


          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">Montana</mat-list-item>
            <mat-list-item (click)="findRegion('')">Nebraska</mat-list-item>
            <mat-list-item (click)="findRegion('')">Nevada</mat-list-item>
            <mat-list-item (click)="findRegion('')">New Hampshire</mat-list-item>
            <mat-list-item (click)="findRegion('')">New Jersey</mat-list-item>
            <mat-list-item (click)="findRegion('')">New Mexico</mat-list-item>
            <mat-list-item (click)="findRegion('')">New York</mat-list-item>
            <mat-list-item (click)="findRegion('')">North Carolina</mat-list-item>
            <mat-list-item (click)="findRegion('')">North Dakota</mat-list-item>
            <mat-list-item (click)="findRegion('')">Ohio</mat-list-item>
            <mat-list-item (click)="findRegion('')">Oklahoma</mat-list-item>
            <mat-list-item (click)="findRegion('')">Oregon</mat-list-item>
            <mat-list-item (click)="findRegion('')"></mat-list-item>
            <mat-list-item (click)="findRegion('')"> </mat-list-item>
            <mat-list-item (click)="findRegion('')"></mat-list-item>
          
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">Pennsylvania</mat-list-item>
            <mat-list-item (click)="findRegion('')">South Carolina</mat-list-item>
            <mat-list-item (click)="findRegion('')">South Dakota</mat-list-item>
            <mat-list-item (click)="findRegion('')">Tennessee</mat-list-item>
            <mat-list-item (click)="findRegion('')">Texas</mat-list-item>
            <mat-list-item (click)="findRegion('')">Utah</mat-list-item>
            <mat-list-item (click)="findRegion('')">Vermont</mat-list-item>
            <mat-list-item (click)="findRegion('')">Virginia</mat-list-item>
            <mat-list-item (click)="findRegion('')">Washington</mat-list-item>
            <mat-list-item (click)="findRegion('')">Washington Dc</mat-list-item>
            <mat-list-item (click)="findRegion('')">Wisconsin</mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <h1 class="region">Canada</h1>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list  rowHeight="80px" gutterSize="0px" [cols]="breakPoint"  (window:resize)="onResize($event)">

        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">Alberta</mat-list-item>
            <mat-list-item (click)="findRegion('')">British Columbia</mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>

            <mat-list-item (click)="findRegion('')">Manitoba</mat-list-item>
            <mat-list-item (click)="findRegion('')">New Brunswick</mat-list-item>
          </mat-list>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">Nova Scotia</mat-list-item>
            <mat-list-item (click)="findRegion('')">Ontario</mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">Quebec</mat-list-item>
            <mat-list-item > </mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <h1 class="region">Euorope</h1>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list  rowHeight="300px" gutterSize="0px" [cols]="breakPoint"  (window:resize)="onResize($event)">

        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('AU')">Austria</mat-list-item>
            <mat-list-item (click)="findRegion('')">Belgium</mat-list-item>
            <mat-list-item (click)="findRegion('')">Croatia</mat-list-item>
            <mat-list-item (click)="findRegion('')">Czech Republic</mat-list-item>
            <mat-list-item (click)="findRegion('')">Denmark</mat-list-item>
            <mat-list-item (click)="findRegion('')">France</mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">Germany</mat-list-item>
            <mat-list-item (click)="findRegion('')">Greece</mat-list-item>
            <mat-list-item (click)="findRegion('')">Hungary</mat-list-item>
            <mat-list-item (click)="findRegion('')">Iceland</mat-list-item>
            <mat-list-item (click)="findRegion('')">Ireland</mat-list-item>
            <mat-list-item (click)="findRegion('IT')">Italy</mat-list-item>
          </mat-list>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">Montenegro</mat-list-item>
            <mat-list-item (click)="findRegion('')">Netheriands</mat-list-item>
            <mat-list-item (click)="findRegion('')">Norway</mat-list-item>
            <mat-list-item (click)="findRegion('')">Poland</mat-list-item>
            <mat-list-item (click)="findRegion('')">Portugal</mat-list-item>
            <mat-list-item (click)="findRegion('')">Russia</mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">Slovenia</mat-list-item>
            <mat-list-item (click)="findRegion('')">Spain</mat-list-item>
            <mat-list-item (click)="findRegion('')">Sweden</mat-list-item>
            <mat-list-item (click)="findRegion('')">Switzerland</mat-list-item>
            <mat-list-item (click)="findRegion('UK')">United Kingdom</mat-list-item>
            <mat-list-item> </mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <h1 class="region">Australia and South Pacific</h1>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list rowHeight="80px" gutterSize="0px" [cols]="breakPoint"  (window:resize)="onResize($event)">

        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">Australia</mat-list-item>
            <mat-list-item (click)="findRegion('')">Fiji</mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>

            <mat-list-item (click)="findRegion('')">French Polynesia</mat-list-item>
            <mat-list-item (click)="findRegion('')">Indonesia</mat-list-item>
          </mat-list>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">New Zealand</mat-list-item>
            <mat-list-item></mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item></mat-list-item>
            <mat-list-item> </mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <h1 class="region">Africa</h1>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list  rowHeight="80px" gutterSize="0px" [cols]="breakPoint"  (window:resize)="onResize($event)">

        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">Morocco</mat-list-item>

          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>

            <mat-list-item (click)="findRegion('')">South Africa</mat-list-item>

          </mat-list>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-list>
            <mat-list-item></mat-list-item>

          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item></mat-list-item>
            <mat-list-item> </mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <h1 class="region">Americas</h1>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list  rowHeight="80px" gutterSize="0px" [cols]="breakPoint"  (window:resize)="onResize($event)">

        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">Bahamas</mat-list-item>
            <mat-list-item (click)="findRegion('')">Brazil</mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>

            <mat-list-item (click)="findRegion('')">Costa Rica</mat-list-item>
            <mat-list-item (click)="findRegion('')">Ecuador</mat-list-item>
          </mat-list>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-list>
            <mat-list-item (click)="findRegion('')">Grenada</mat-list-item>
            <mat-list-item (click)="findRegion('')">Mexico</mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item></mat-list-item>
            <mat-list-item> </mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
  <!-- Search form goes here -->

  <!-- <button mat-raised-button color="primary">Hi I am </button> -->
  <!-- <form id="search-form" action="#">
          <div class="row mx-auto mb-3 " style="max-width:800px">
            <div class="col-12 col-md-4">
              <div class="form-group">
                 <select [(ngModel)]="selectedCategory" name="category" id="category" class="form-control">
                  <option value="">Choose a Service</option>
                  <option value="1">Food and Drink</option>
                  <option value="2">Celebrants and Officiants</option>
                  <option value="3">Dresses, Suits and Accessories</option>
                  <option value="4">Entertainment</option>
                  <option value="5">Flowers</option>
                  <option value="6">Hair, Make-Up and Beauty</option>
                  <option value="7">Invitations and Stationery</option>
                  <option value="8">Jewellery</option>
                  <option value="9">Music</option>
                  <option value="10"> Photography</option>
                  <option value="11">Cake Makers</option>
                  <option value="12">Transport</option>
                  <option value="13">Venues</option>
                  <option value="14">Wedding Planners</option>
                  <option value="15">Decorations and Hire</option>
                  <option value="16">Accommodation</option>
                  <option value="17">Videography</option>
                  <option value="18">Gifts and Favors</option>
                </select> 
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <select color="primary" name="countries" id="countries" class="form-control"
                  (change)="onChangeCountry($event.target.value)" value="Choose Country">
                  <option value="">Choose a Country</option>
                  <option *ngFor="let country of countries" [value]="country.id">
                    {{country.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <select name="regions" id="regions" class="form-control" [disabled]="isCountrySelected">
                  <option value="">Choose a Region</option>
                  <option *ngFor="let region of regions" [value]="region.id">
                    {{region.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="response" style="text-shadow:none"></div>
            <div class="text-center">
              <button mat-raised-button color="primary" type="submit">Find {{selectedCategory}}</button>
              <input type="submit" name="commit" value="Find" id="search-form-submit" class="submit btn btn-lg btn-primary" data-disable-with="Find" /> need to comment again
            </div>
          </div>
  
        </form> -->
</div>