<div class="container-fluid bg">

</div>
<div class="container " style="position:relative;bottom:5rem">
    <div class="row mb-5 ">
      <div class="col-12">
        <div class="card mx-auto" style="max-width:450px">
          <div class="card-body">
            <div class="text-center">
              <h1 class="card-title h3">Support</h1>
              <p class="card-text">If you have any technical enquiries, please don't hesitate to get in touch, or check out our FAQs below.</p>
                <div class="alert alert-info">Please email us for support at  <a href="mailto:support@bride-advisor.com">support@bride-advisor.com</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 col-md-6">
        <h2>FAQs for Brides</h2>
        <p>Check out our most frequently asked questions</p>
      </div>
      <div class="col-12 col-md-6">
        <h2>FAQs for Vendors</h2>
        <p>Check out our most frequently asked questions</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div id="accordion-brides" role="tablist" aria-multiselectable="true">
  
          <div class="card">
            <div class="card-header" role="tab" id="headingSeven">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion-brides" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                  I would like to edit a review I left
                </a>
              </h5>
            </div>
            <div id="collapseSeven" class="collapse show" role="tabpanel" aria-labelledby="headingSeven">
              <div class="card-block">
                Once a review has been left for a supplier, you are unable to change it. If the supplier has a premium listing, you will be able to add an update to your post.
              </div>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header" role="tab" id="headingEight">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion-brides" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                  I left a review for the wrong supplier in error
                </a>
              </h5>
            </div>
            <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
              <div class="card-block">
                Please contact us with the name and email address or website of the review you wish to cancel. You may wish to copy and paste your comment if this supplier has several reviews on their page.
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div id="accordion" role="tablist" aria-multiselectable="true">
  
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What Payment Options are Available?
                </a>
              </h5>
            </div>
  
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                We accept debit and credit card payments via <a href="https://stripe.com/">Stripe</a>. If you wish to send a payment via bank transfer, please contact us (annual payments only).
              </div>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  What if I decide to cancel my registration?
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block">
                Should you choose to cancel your registration at any time, your profile page will still show as a free listing (no photos or links – Just your company name and reviews will remain). No refunds are made on cancellation of your registration.
              </div>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  I need to edit my page
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block">
                From any page, click on the "Are you a Vendor?" link on the top menu bar and sign in. You will be automatically directed to your profile page where you will be able to update and edit your information.
              </div>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header" role="tab" id="headingFour">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  I wish to upgrade my account
                </a>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="card-block">
                If you have a free listing, <a href="#">follow this link and choose a package which suits you</a>. If you wish to upgrade from full listing to our Premium or Top package, you can do so from the "Edit your profile page" once signed in.
              </div>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header" role="tab" id="headingFive">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                  Help! Someone left me a terrible review
                </a>
              </h5>
            </div>
  
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="card-block">
                Not all reviews will be complementary but hopefully any negative comments will be few and far between. With our premium listings, you will have the option to respond to reviews. If you believe a review on our site is not from a client who has used your services, please contact us. 
              </div>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header" role="tab" id="headingSix">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                  I wish to list under more than one category
                </a>
              </h5>
            </div>
  
            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
              <div class="card-block">
                You will be able to tick all sub-categories which apply to your field. If you wish to apply for a second category, you will need to pay for a separate listing for each category you wish to enter
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
