
<div class="container-flud">
    <div class="bg">
    
    </div>
    <div class="container" style="position:relative;bottom:5rem">
        <div class="row">
          <div class="col-12">
            <div class="card mx-auto" style="max-width:450px">
              <div class="card-body">
                <div class="text-center mb-3">
                  <h1 class="card-title h3">Forgot Password</h1>
                  <p class="card-text">Enter your email to reset your password</p>
                </div>
                
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <input formControlName="email" class="form-control form-control-lg" placeholder="Email" type="email" required
                        [ngClass]="{ 'is-invalid': resetForm.get('email').errors &&
                        resetForm.get('email').touched }" />
                        
                      <div class="invalid-feedback">
                        Valid Email is required
                      </div>
                    </div>
                  
                  <div class="text-center">
                    <input type="submit" value="Reset Password" class="btn btn-lg btn-block btn-primary" data-disable-with="Reset Password" />
                  </div>
      </form>        </div>
            </div>
          </div>
        </div>
      </div>
    </div>