<div class="bg absolute flex container-fluid">
    <div>
      <div class="container-fluid  test" style="height: 100%;">
        <div class="row text-center mb-3">
          <div class="col-12">
            <h1 class="head">Showing Result For Photography in Italy</h1>
            <!-- <p class="mx-auto mb-0" style="max-width:400px"><em>The</em> place to find wedding suppliers and vendors tried
              and tested by real brides</p> -->
            <span class="btnSearch">
              <button mat-raised-button color="primary" type="submit" >Change Search
                </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-item">
    <mat-grid-list cols="4" rowHeight="1:1" gutterSize="5px">
        <mat-grid-tile>
            
                <mat-card class="serchCard">
                    <mat-card-header>
                      <div mat-card-avatar class="logo"></div>
                      <mat-card-title>*****</mat-card-title>
                      <!-- <mat-card-subtitle>abc</mat-card-subtitle> -->
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" height="100px" width="100px"> -->
                    <mat-card-content class="content">
                      <h1>
                        Wedding Celebrant in ITALY
                      </h1>
                    </mat-card-content>
                    <mat-card-actions align="end">
                      <button mat-raised-button color="primary" >
                          View
                      </button>
                      
                    </mat-card-actions>
                  </mat-card>
               
        </mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
  </div>