<mat-sidenav-container >
    <mat-sidenav #sidenav role="navigation">
      <app-side-nav (sidenavClose)="sidenav.close()"></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-nav-header *ngIf="!isDashboard()" (sidenavToggle)="sidenav.toggle()"></app-nav-header>
      <app-nav-header-admin  *ngIf="isDashboard()" (sidenavToggle)="sidenav.toggle()"></app-nav-header-admin>
      <main>
        <router-outlet></router-outlet>
     </main>
   <app-my-footer></app-my-footer>
   </mat-sidenav-content>
</mat-sidenav-container>
