<div class="container-fluid">
    <footer class="p-5" style="background-color:#efefef">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-md-2">
              <h3>Quick Links</h3>
              <ul class="list-unstyled">
                <li>
                  <span class="fa fa-home"></span>
                  <a href="#">Home</a>
                </li>
                <!-- <li>
                  <span class="fa fa-file-text"></span>
                  <a href="#">Blog</a>
                </li> -->
                <li>
                  <span class="fa fa-search"></span>
                  <a href="#">Find Venues &amp; Vendors</a>
                </li>
                <li>
                  <span class="fa fa-comment-o"></span>
                  <a href="#">Leave a Review</a>
                </li>
                  <li>
                    <span class="fa fa-plus"></span>
                    <a href="#">Add Your Business</a>
                  </li>
                  <li>
                    <span class="fa fa-lock"></span>
                    <a href="#">Log In</a>
                  </li>
              </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <h3>Support</h3>
              <p>If you have any technical enquiries, don't hesitate to get in touch.</p>
              <a class="btn btn-primary" href="#">Contact Us</a>
            </div>
          </div>
        </div>      
      </footer>
     <!-- Follow icons -->
     <footer class="text-center text-white p-4" style="background-color:#adb3bb">
        <h4>Follow Us</h4>
        <div class="h4 d-flex align-items-center justify-content-center">
          <a target="_blank" class="d-flex align-items-center justify-content-center text-white text-decoration-normal mx-2" style="width:2.5rem;height:2.5rem;background-color:#626a76" href="https://www.facebook.com/BrideAdvisorHub/">
            <span class="fa fa-facebook-official"></span>
</a>          
            
       </div>
      </footer>

      <!-- Privacy Policy -->
      <footer class="bg-faded text-center text-muted p-4" style="margin: 0 -1px 0 -1px;border-top:1px solid #e2e6ec;">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p class="mb-0">&copy; 2020 Bride Advisor &bull; <a href="../../privacy-policy.html">Privacy Policy</a> &bull; <a href="../../terms-and-conditions.html">Terms and Conditions</a> <br><small>Bride Advisor  - Part of the Zefora SRL group | Registered address - Via Miralago 22, Laveno-Mombello, 21014 VA, Italy | P.iva / Tax number - 03588110126</small></p>
            </div>
          </div>
        </div>      
      </footer>
</div>